.card-request{
    width: 18rem;
    margin-top: 4%;
    margin-left: 40%;  
    margin-bottom: 50px; 
}
.title-request{
    margin-top: 10px;
    margin-left: 10%;
    font-size: 27px;
}
.card-request button{
    margin-left: 27%;
    margin-bottom: 4%;
}
.card-request select{
    margin-bottom: 15px;
}
.card-request textarea{
    height: 100px;
    margin-top: 15px;
    resize: none;
}
.card-request button{
    margin-top: 18px;
}

@media (max-width: 999px) {
    .card-request{
        width: 40rem;
        margin-top: 15%;
        margin-left: 18%;
        font-size: 70px;
        padding: 5px;
    }
    .title-request{
        margin-left: 4%;
        font-size: 70px;
    }
    .card-request input{
        margin-top: 20px;
        font-size: 55px;
        margin-bottom: 70px;
    }
    .card-request select{
        font-size: 55px;
        margin-bottom: 10%;
    }
    .card-request textarea{
        color: gray;
        height: 250px;
        font-size: 50px;

    }
    .card-request button{
        margin-top: 10%;
        margin-left: 15%;
        font-size: 60px;
        margin-bottom: 10%;
    }
    
    
}